.notes__list{
    padding: 0;
    margin: 30px 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.notes__item{
    background-color: #ffc;
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr auto;
    box-shadow: 0px 5px 7px rgba(33,33,33,.7);
    -webkit-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg);
    transition: .3s ease;
    grid-gap: 10px;
}

.note__text{
  margin: 0;
}

.notes__item:nth-child(even){
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
  
  }
.notes__item:nth-child(3n){
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
  }
.notes__item:nth-child(5n){
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }

.note__controls{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/***** FORM ********/

.note__form{
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 20px 0;
  grid-gap: 10px;
}

.form__input{
  padding: 5px 10px;
  grid-column: 1 / 3;
  resize: none;
  font-size: 16px;
  
}

/****** EDIT ********/

.note__input{
  resize: none;
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  min-height: 150px;
}

.notes__item.edit{
  -webkit-transform: scale(1.25); 
  -moz-transform: scale(1.25); 
  -o-transform: scale(1.25); 
  position: static;
  z-index:5;
  transition: 0.3s ease;
}

